
<br><br><br>
<section layout-align	="right">
	<div class="row form-group">
						<label for="inputGenre" class="col-sm-3 col-form-label text-right">Sort By: </label>
						<div class="col-sm-auto">
							<select class="form-control" [(ngModel)] ='sortfield'>
								<option disabled [selected]="genre==='--Select--'">--Select--</option>
								<option *ngFor="let fields of sortfields" [value]="fields">
									{{fields}}
								</option>
							</select>

						</div>
 <button  (click)= "sortOrder ='asc'" mat-mini-fab color="teal"  *ngIf ="sortOrder =='desc'">
<mat-icon>arrow_downward</mat-icon>
  </button>

 <button   (click)= "sortOrder ='desc'"  mat-mini-fab	 color="teal" *ngIf ="sortOrder == 'asc'">
<mat-icon>arrow_upward</mat-icon>
 </button>
 	</div>	
 <section>
  	
<table class="table table-hover " align="center" style="margin-top: 20px; width: 80%;">
  	
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Author Name</th>
        <th>ISBN 10</th>
        <th>Publisher Name</th>
        <th>Publication Date</th>
        <th>Genre</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | sortBy : [sortfield,sortOrder] |paginate: { itemsPerPage: 10, currentPage: p }">
          <td> {{book.title}}</td>
          <td> {{book.author}}  </td>
          <td> {{book.isbn}}</td>
          <td> {{book.publisher}}</td>
          <td> {{book.publicationDate}}</td>
          <td> {{book.genre}}</td>
          <td> {{book.price | currency:'INR':'symbol'}}</td>
          <td>  <button type="button" class="btn btn-outline-primary" (click)="updateBook($event, book)"><mat-icon>mode_edit</mat-icon>
            </button></td>
            <td>  <button type="button" class="btn btn-outline-primary" (click)="deleteBook(book.bookID)"><mat-icon>delete_forever</mat-icon>
              </button></td>
          </tr>
    </tbody>
  </table>
   <pagination-controls (pageChange)="p = $event"></pagination-controls>

<Span style="position: absolute" ><i class="material-icons">add_circle</i></Span>