<nav class="navbar fixed-top navbar-collapse navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">BookStore Application</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="viewbooks" routerLinkActive="active">View Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addbook" routerLinkActive="active">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="updatebooks" routerLinkActive="active">Update Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="deletebooks" routerLinkActive="active">Delete Books</a>
      </li>
    </ul>
    <!--form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form-->
  </div>
</nav>