<div class="container" style="background-color:rgba(162, 186, 236, 0.767); color:black;">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col text-center">
                    <br>
                    <h5>Available Books
                        <span class="badge badge-primary" *ngIf="books != null; else nobooks">{{books.length}}</span>
                        <ng-template #nobooks>
                            <span class="badge badge-primary">0</span>
                        </ng-template>
                    </h5>
                    <h6>(Please select/click on a book to update)</h6>
                    <br>
                </div>
                <div class="col-3-auto">
                    <br>
                    <button type="button" class="btn btn-primary" (click)="toggleSearchFieldFilterViewHandler()" data-toggle="collapse" data-target="#searchfiltercomponent"
                        aria-expanded="false" aria-controls="collapseExample">{{showSearchFieldFilterView ? 'Hide' : 'Show'}} Search/Field filter Options</button>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col collapse" id="searchfiltercomponent">
                    <app-book-searchfilter (onSearchContentChange)="onSearchContentChange($event)" (onFilterContentChange)="onFilterContentChange($event)"></app-book-searchfilter>
                </div>
            </div>
            <div class="row" style="overflow:auto; max-height: 32.5em; min-height:32.5em" *ngIf="books != null && books.length > 0">
                <div class="col-12">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    <div class="col-auto">
                                        BookID
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.titleChecked">
                                        Title
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.authorChecked">
                                        Author
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.isbnChecked">
                                        ISBN
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.publicationDateChecked">
                                        Publication Date
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.publisherChecked">
                                        Publisher
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.priceChecked">
                                        Price
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.genreChecked">
                                        Genre
                                    </div>
                                </th>
                                <th>
                                    <div class="col-auto" *ngIf="filterObject.formatChecked">
                                        Format
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of books" (click)="bookRowClicked(book, $event)" data-toggle="modal" data-target=".bd-example-modal-md">
                                <td>
                                    <div class="col-auto">
                                        {{book.bookID}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.titleChecked">
                                        {{book.title}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.authorChecked">
                                        {{book.author}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.isbnChecked">
                                        {{book.ISBN}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.publicationDateChecked">
                                        {{book.publicationDate | date:"dd-MMM-yyyy"}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.publisherChecked">
                                        {{book.publisher}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.priceChecked">
                                        {{book.price | currency:'INR':'symbol'}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.genreChecked">
                                        {{book.genre}}
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto" *ngIf="filterObject.formatChecked">
                                        {{book.format}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row justify-content-center" *ngIf="books == null || books.length < 1">
                <span class="glyphicons glyphicons-search"></span>Nothing Found!!!
            </div>
            <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Wanna Update the selected book (Book ID : {{(bookToUpdate == null) ? '' : bookToUpdate.bookID}}?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="selectedForUpdateHandler()">Yes!</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>