<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row justify-content-center">
                                <br>
                                <br>
                                <h5 class="text-center">Search Filter</h5>
                                <br>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Title (
                                    <label class="form-check-label">
                                        <input class="form-check-input form-check-sm" type="checkbox" value="titleCaseSensitiveChecked" (click)="searchContentChanged($event, 'titleCaseSensitiveChecked')" [checked]="searchObject.titleCaseSensitive" >Case-Sensitive
                                    </label>):
                                    <input type="text" class="form-control form-control-sm" placeholder="Title" [ngModel]="searchObject.title" (ngModelChange)="searchContentChanged($event, 'titleSearchChanged')">
                                </div>
                                <div class="col">
                                    Author (
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="authorCaseSensitiveChecked" (click)="searchContentChanged($event, 'authorCaseSensitiveChecked')" [checked]="searchObject.authorCaseSensitive">Case-Sensitive
                                    </label>):
                                    <input type="text" class="form-control form-control-sm" placeholder="Author" [ngModel]="searchObject.author" (ngModelChange)="searchContentChanged($event, 'authorSearchChanged')">
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="row">
                                <div class="col">
                                    Publisher (
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="publisherCaseSensitiveChecked" (click)="searchContentChanged($event, 'publisherCaseSensitiveChecked')" [checked]="searchObject.publisherCaseSensitive">Case-Sensitive
                                    </label>):
                                    <input type="text" class="form-control form-control-sm" placeholder="publisher" [ngModel]="searchObject.publisher" (ngModelChange)="searchContentChanged($event, 'publisherSearchChanged')">
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row justify-content-center">
                                <br>
                                <br>
                                <h5 class="text-center">Fields to Show</h5>
                                <br>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="title" (click)="filterContentChanged($event, 'title')" [checked]="filterObject.titleChecked">Title
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="author"  (click)="filterContentChanged($event, 'author')" [checked]="filterObject.authorChecked">Author
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="isbn"  (click)="filterContentChanged($event, 'isbn')" [checked]="filterObject.isbnChecked">ISBN
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="publicationDate"  (click)="filterContentChanged($event, 'publicationDate')" [checked]="filterObject.publicationDateChecked">Publication Date
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="publisher"  (click)="filterContentChanged($event, 'publisher')" [checked]="filterObject.publisherChecked">Publisher
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="price"  (click)="filterContentChanged($event, 'price')" [checked]="filterObject.priceChecked">Price
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="genre"  (click)="filterContentChanged($event, 'genre')" [checked]="filterObject.genreChecked">Genre
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="format"  (click)="filterContentChanged($event, 'format')" [checked]="filterObject.formatChecked">Format
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" *ngIf="showOperationCheckbox">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="operation"  (click)="filterContentChanged($event, 'operation')" [checked]="filterObject.operationChecked">Operation
                                        </label>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>

                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <br>
                <button type="button" class="btn btn-primary" (click)="resetFilterViewHandler()">Reset Filter</button>
                <br>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
    </div>
</div>