	Status {{status}}


	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center text-white mb-4">00</h2>
				<div class="row">
					<div class="col-md-6 mx-auto">

						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login</h3>
							</div>
							<div class="card-body">
								<form #userlogin="ngForm"
									(ngSubmit)="onLogin(userlogin.value)" class="form"
									role="form" autocomplete="off" id="formLogin">

									 <span class="help-block" *ngIf="status">User Id /Password cannot Empty</span>
									      
 <span class="help-block" *ngIf="wrongCred">User Id / Password is incorrect</span>
									<div class="form-group">
										<label>Username</label> 
										
										<input type="text"  name ="userName" ng-model
											class="form-control form-control-lg rounded-0" id="pwd"
											required="" autocomplete="new-password" ngModel>
										
									</div>
									<div class="form-group">
										<label>Password</label> <input type="password"  name ="pwd" ng-model
											class="form-control form-control-lg rounded-0" id="pwd"
											required="" autocomplete="new-password" ngModel>
										
									</div>

									<button type="submit"
										class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
