<div>
  
  <h2 mat-dialog-title>Login form</h2>
  <hr>
  <mat-dialog-content>
    
  <mat-form-field class="example-full-width">
				<input matInput placeholder="User Name" name="uname" required  minlength="10" ngModel>
	</mat-form-field>
<br>
  <mat-form-field class="example-full-width">
				<input matInput placeholder="Password" name="email" required minlength="10" ngModel>
	</mat-form-field>  
  
 <!-- <span class="done">
    <button mat-fab (click)="onCloseCancel()" color="primary">
      <mat-icon>check circle</mat-icon>
    </button>
    </span>-->

<br><br>

 
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
<button mat-raised-button (click)="onCloseConfirm()" color="primary" >Login</button>&nbsp;
    <button mat-raised-button (click)="onCloseCancel()" color="primary" >CANCEL</button>
   

  
  </mat-dialog-actions>
</div>