<br><br>
    	<br><br>
  <div class="card-body">



<form  #addBook="ngForm" (ngSubmit) = "addBook(addBook.value)">
    
<h3>Book Details</h3>

BookName <input type="text" name="bookName" minlength="10" maxlength="15" required size =20 maxlength=20 placeholder="Please enter email id" ngModel/><br><br>

Author Name <input type="text" name="authorName"  minlength="10" maxlength="15" required size =20 maxlength=20 placeholder="Please enter email id" ngModel/><br><br>

<button type="submit" class="btn btn-success">add</button>

</form>


   	</div>   	