<br><br><br><br>
<div class="container" style="text-align:center" >
  <h2>Welcome  <b> {{userName}}</b> to Book World</h2>
  <br>  <br>  <br>
  <div align="center">
    <div class="col-4 text-white">
    <a routerLink="/addBook" class="btn btn-primary btn-block">Add Book</a>
  </div>
  <br>
     <div class="col-4 text-white">
    <a routerLink="/deleteBook" class="btn btn btn-danger btn-block">Delete Book</a>
  </div>
  <br>
    <div class="col-4 text-white" >
    <a routerLink="/view" class="btn btn btn-info btn-block ribbon">View Books</a>
  </div>
  <br>
     <div class="col-4 text-white" >
     <a routerLink="/update" class="btn btn btn btn-warning btn-block">Update Book</a>
  </div>
</div>
</div>