<br>
<br>

<div id="headerwrap" style="align:center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h3><i class="fa fa-address-book" style="font-size:48px;color:white"></i>"A book is a device to ignite the imagination"</h3>
				<h4>Reading is a conversation. All books talk. But a good book listens as well</h4>
				<h5>No entertainment is so cheap as reading, nor any pleasure so lasting.</h5>
				<h6>I read my eyes out and can’t read half enough... The more one reads the more one sees we have to read</h6>
				<h6>You cannot open a book without learning something.</h6>

			</div>

		</div>
	</div>

</div>