<div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-7-auto align-self-center">
                <h1 style="padding-bottom: 56px;">Welcome to BookStore Application</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <br>
            <br>
            <br>
            <div class="col-6">
                <a class="btn btn-primary btn-block" routerLink="viewbooks" role="button">View Books</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <br>
            <br>
            <br>
            <div class="col-6">
                <a class="btn btn-success btn-block" routerLink="addbook" role="button">Add Book</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <br>
            <br>
            <br>
            <div class="col-6">
                <a class="btn btn-warning btn-block" routerLink="updatebooks" role="button">Update Books</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <br>
            <br>
            <br>
            <div class="col-6">
                <a class="btn btn-danger btn-block" routerLink="deletebooks" role="button">Delete Books</a>
            </div>
        </div>
    </div>