<div class="container" style="background-color:rgba(162, 186, 236, 0.438); color:black;">
    <div class="row">
        <div class="col-7">
            <div class="container">
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-auto align-self-center">
                        <h3>Please update the book details
                            <h6>(*All fields are required)</h6>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <form [formGroup]="updateBookForm" (ngSubmit)="updateBookFormSubmit()">
                            <div class="row form-group">
                                <label for="inputTitle" class="col-sm-3 col-form-label text-right">Title: </label>
                                <div class="col-sm-auto">
                                    <input type="text" class="form-control" id="inputTitle" placeholder="Title" formControlName="title">
                                    <span class="help-block" *ngIf="!updateBookForm.get('title').valid && updateBookForm.get('title').touched">*
                                        <span class="help-block" *ngIf="updateBookForm.get('title').errors['required']">Title is required</span>
                                        <span class="help-block" *ngIf="!updateBookForm.get('title').errors['required'] && updateBookForm.get('title').errors['minLength1']">Title should have at least one character</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputAuthor" class="col-sm-3 col-form-label text-right">Author: </label>
                                <div class="col-sm-auto">
                                    <input type="text" class="form-control" id="inputAuthor" placeholder="Author" formControlName="author">
                                    <span class="help-block" *ngIf="!updateBookForm.get('author').valid  && updateBookForm.get('author').touched">*
                                        <span class="help-block" *ngIf="updateBookForm.get('author').errors['required']">Author is required</span>
                                        <span class="help-block" *ngIf="!updateBookForm.get('author').errors['required'] && updateBookForm.get('author').errors['minLength1']">Author should have at least one character</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputISBN" class="col-sm-3 col-form-label text-right">ISBN 10: </label>
                                <div class="col-sm-auto">
                                    <input type="text" class="form-control" id="inputISBN" placeholder="X-XXX-XXXXX-X" formControlName="isbn">
                                    <span class="help-block" *ngIf="!updateBookForm.get('isbn').valid && updateBookForm.get('isbn').touched">*
                                        <span class="help-block" *ngIf="updateBookForm.get('isbn').errors['required']">ISBN is required</span>
                                        <span class="help-block" *ngIf="!updateBookForm.get('isbn').errors['required'] && updateBookForm.get('isbn').errors['isbnValid']">Invalid ISBN format (X-XXX-XXXXX-X)</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputPublicationDate" class="col-sm-3 col-form-label text-right">Publication Date: </label>
                                <div class="col-sm-auto">
                                    <input type="date" class="form-control" id="inputPublicationDate" placeholder="Author" formControlName="publicationDate">
                                    <span class="help-block" *ngIf="!updateBookForm.get('publicationDate').valid  && updateBookForm.get('publicationDate').touched">*
                                        <span class="help-block" *ngIf="updateBookForm.get('publicationDate').errors['required']">Publication date is required</span>
                                        <span class="help-block" *ngIf="!updateBookForm.get('publicationDate').errors['required'] && updateBookForm.get('publicationDate').errors['invalidPublicationDate']">Future publication date choosen</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputPublisher" class="col-sm-3 col-form-label text-right">Publisher: </label>
                                <div class="col-sm-auto">
                                    <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher" formControlName="publisher">
                                    <span class="help-block" *ngIf="!updateBookForm.get('publisher').valid  && updateBookForm.get('publisher').touched">*
                                        <span class="help-block" *ngIf="updateBookForm.get('publisher').errors['required']">Publisher is required</span>
                                        <span class="help-block" *ngIf="!updateBookForm.get('publisher').errors['required'] && updateBookForm.get('publisher').errors['minLength1']">Publisher should have at least one character</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputPrice" class="col-sm-3 col-form-label text-right">Price: </label>
                                <div class="col-sm-auto">
                                    <input type="number" class="form-control" id="inputPrice" placeholder="₹ 0.00" formControlName="price">
                                    <span class="help-block" *ngIf="!updateBookForm.get('price').valid  && updateBookForm.get('price').touched">
                                        <span class="help-block" *ngIf="updateBookForm.get('price').errors['required']">Price is required</span>
                                        <span class="help-block" *ngIf="updateBookForm.get('price').errors['min']">Price cannot be negative!</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputGenre" class="col-sm-3 col-form-label text-right">Genre: </label>
                                <div class="col-sm-auto">
                                    <select class="form-control" id="inputGenre" formControlName="genre" value="genre">
                                        <option disabled [selected]="updateBookForm.get('genre').value === '--Select--'">--Select--</option>
                                        <option *ngFor="let genre of bookGenres" [selected]="updateBookForm.get('genre').value === genre">{{genre}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="!updateBookForm.get('genre').valid  && updateBookForm.get('genre').touched">Please select genre</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputFormat" class="col-sm-3 col-form-label text-right">Format: </label>
                                <div class="col-sm-auto">
                                    <select class="form-control" id="inputFormat" formControlName="format" value="format">
                                        <option disabled [selected]="updateBookForm.get('format').value == '--Select--'">--Select--</option>
                                        <option *ngFor="let format of bookFormats" [selected]="updateBookForm.get('format').value === format">{{format}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="!updateBookForm.get('format').valid  && updateBookForm.get('format').touched">Please select format</span>
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-center form-group">
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-primary" (click)="goBackButtonClickedHandler()">Go Back</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-secondary" (click)="clearFormButtonClickedHandler()">Clear Fields</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-secondary" (click)="resetOriginalButtonClickedHandler()">Reset Original</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm" type="submit" [disabled]="!updateBookForm.valid">
                                        Update Book</button>
                                </div>
                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Do you really wanna Update this book?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateBookButtonHandler()">Yes, Update Please!</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-11 align-self-center text-center"  style="background-color:rgba(186, 230, 248, 0.795);">
                        <h5>Review your book details here...</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Title:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('title').valid">{{updateBookForm.get('title').value}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Author:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('author').valid">{{updateBookForm.get('author').value}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        ISBN:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('isbn').valid">{{updateBookForm.get('isbn').value}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Publication Date:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('publicationDate').valid">{{updateBookForm.get('publicationDate').value | date:"dd-MMM-yyyy"}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Publisher:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('publisher').valid">{{updateBookForm.get('publisher').value}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Price:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('price').valid">{{updateBookForm.get('price').value | currency:'INR':'symbol'}}</span>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Genre:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('genre').valid">{{updateBookForm.get('genre').value}}</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-right" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        Format:
                    </div>
                    <div class="col-7" style="background-color:rgba(144, 213, 240, 0.705); color:black;">
                        <span *ngIf="updateBookForm.get('format').valid">{{updateBookForm.get('format').value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>