<section align="center" style="margin-top: 50px;">
<div >
<mat-card class="example-card" style="margin-top: 50px;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Vineet</mat-card-title>
    <mat-card-subtitle>Mean Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://preview.ibb.co/nnDqkS/Screenshot_20180329_084938.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Develop a passion for learning.
    </p>
  </mat-card-content>
 <!-- <mat-card-actions>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>
</div>
<div>
<mat-card class="example-card" style="margin-top: 50px; margin-left: 50px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Praveen</mat-card-title>
    <mat-card-subtitle>J2EE Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://image.ibb.co/i5ehX7/20151130_124504_1450425825384.jpg" alt="Photo of a Shiba Inu"
  
  >
  <mat-card-content>
    <p>
    Develop a passion for learning.
    </p>
  </mat-card-content>
<!--  <mat-card-actions>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>
</div>
</section>